#platoDeLaSemana{
    /* margin: 1em; */
    margin-bottom: 1em;
    font-size: 3em;
    /* bold */
    font-weight: bold;
}
#nombrePlato{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}
#descripcionGeneralBox > div{
    margin-bottom: 1em;
}
#ingredientesTitulo{
    margin-bottom: 1em;
}
#ingredientesBox {
    margin-bottom: 1em;
}
#preparacion{
    margin-bottom: 1em;
}
